$color-background-section: #FFFFFF;

$color-help-block: #FF0000;

$color-brand-hover-focus-active: $color-background-section;

$color-language: $color-background-section;

$color-link: #18BC9C;
$color-link-hover-focus-active: $color-link;

$color-header-line: $color-link;

$color-menu-link: $color-background-section;
$color-menu-link-focus-active: $color-background-section;
$color-menu-link-hover: $color-link;
$color-menu-link-hover-focus-active: $color-menu-link-hover;
$color-menu-link-active-hover-focus-active: $color-background-section;
$color-menu-link-active-hover-focus-active-background: $color-menu-link-hover;

$color-menu-toggle: $color-background-section;
$color-menu-toggle-button: $color-menu-toggle;
$color-menu-toggle-border: $color-menu-toggle;
$color-menu-toggle-hover-focus: $color-menu-toggle;
$color-menu-toggle-hover-focus-background: $color-menu-link-hover;
$color-menu-toggle-hover-focus-border: $color-menu-toggle-hover-focus-background;
$color-menu-toggle-button-primary-background: #1A242F;
$color-menu-toggle-button-primary-border: #161F29;
$color-menu-toggle-button-success-background: #128F76;
$color-menu-toggle-button-success-border: #11866F;

$color-about: $color-background-section;
$color-about-background: $color-link;
$color-section-line-border: #2C3E50;

$color-portfolio-caption: $color-link;
$color-portfolio-tags: rgba(255, 255, 255, 0.7);
$color-portfolio-tags-background: $color-section-line-border;

$color-label: $color-link;

$color-outline-hover-focus-active: $color-link;

$color-header: $color-background-section;
$color-header-line-border: $color-header-line;

$color-button-success: $color-background-section;
$color-button-success-background: $color-link;
$color-button-success-border: $color-button-success-background;
$color-button-success-badge: $color-link;
$color-button-success-badge-color: $color-button-success;
$color-button-success-hover-focus-active: $color-button-success;
$color-button-success-hover-focus-active-background: $color-menu-toggle-button-success-background;
$color-button-success-hover-focus-active-border: $color-menu-toggle-button-success-border;
$color-button-success-hover-focus-active-box-shadow: invert($color-button-success-hover-focus-active-background);
$color-button-success-disabled-background: $color-link;
$color-button-success-disabled-border: $color-button-success-disabled-background;
$color-button-success-disabled-hover-focus-active-background: $color-link;
$color-button-success-disabled-hover-focus-active-border: $color-button-success-disabled-hover-focus-active-background;

$color-button-outline: $color-background-section;

$color-button-primary: $color-background-section;
$color-button-primary-background: $color-section-line-border;
$color-button-primary-border: $color-button-primary-background;
$color-button-primary-hover-focus-active: $color-button-primary;
$color-button-primary-hover-focus-active-background: $color-menu-toggle-button-primary-background;
$color-button-primary-hover-focus-active-border: $color-menu-toggle-button-primary-border;
$color-button-primary-badge: $color-section-line-border;
$color-button-primary-badge-background: $color-button-primary;

$color-footer: $color-background-section;
$color-footer-background: $color-section-line-border;

$color-modal-close-modal-background: $color-section-line-border;
$color-modal-visit-website-background: $color-menu-link-hover;
$color-modal-visit-website-border: #000000;
$color-modal-visit-website-color: $color-menu-link-focus-active;

$color-portfolio-item-background: #F0F0F0;
$color-portfolio-item-border: $color-portfolio-item-background;
$color-portfolio-item-shadow: #F7F7F7;