@import "~font-awesome/css/font-awesome.css";
@import "./theme/freelancer/colors";

#site {
  #about {
    background: $color-about-background;
    color: $color-about;
    margin-bottom: 200px;

    @media (max-width: 767px) {

      .col-sm-4 {
        margin: 0 10px;
      }
    }
  }
}