#portfolioSite {

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  .left, .right {
    float: left;
    width: 50%;
    position: relative;
    height: 100vh;
  }

  $tabletWidth: 381px;
  $tabletHeight: 240px;
  $tabletTop: 0;
  $tabletLeft: 0;
  $mobileWidth: 359px;
  $mobileHeight: 240px;
  $mobileTop: $tabletHeight + 20px;
  $mobileLeft: 0;
  $desktopWidth: 480px;
  $desktopHeight: 300px;
  $desktopTop: $tabletHeight / 2;
  $desktopRight: 15px;

  .desktop {
    max-width: $desktopWidth;
    max-height: $desktopHeight;
    width: 100%;
    height: 100%;
    position: absolute;
    top: $desktopTop;
    right: $desktopRight;
    z-index: 2;
  }

  .tablet {
    max-width: $tabletWidth;
    max-height: $tabletHeight;
    width: 100%;
    height: 100%;
    position: absolute;
    top: $tabletTop;
    left: $tabletLeft;
    z-index: 1;

    &:hover {
      z-index: 2;
    }
  }

  .mobile {
    max-width: $mobileWidth;
    max-height: $mobileHeight;
    width: 100%;
    height: 100%;
    position: absolute;
    top: $mobileTop;
    left: $mobileLeft;

    &:hover {
      z-index: 2;
    }
  }

  .browser {
    $color: #2c3e50;
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
    opacity: .999;
    border-radius: 5px;
    box-shadow: -10px 10px 38px 0 rgba(1,1,1,.53);

    .status-bar {
      background-color: #ccc;
      width: 100%;
      height: 20px;
      position: relative;
      z-index: 10;

      .buttons {
        background-color: #df7065;
        width: 9px;
        height: 9px;
        margin-top: -4px;
        position: absolute;
        top: 50%;
        left: 7px;
        border-radius: 50%;

        &:before,
        &:after {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          border-radius: 50%;
        }

        &:before {
          background-color: #e6c646;
          left: 13px;
        }

        &:after {
          background-color: #5bcc8b;
          left: 26px;
        }
      }
    }

    .tab-bar {
      background-color: #e6e6e6;
      width: 100%;
      height: 18px;
      position: relative;
      z-index: 10;

      &:before {
        content: '';
        width: 82px;
        position: absolute;
        bottom: 100%;
        left: 55px;
        border-width: 0 5px 14px 5px;
        border-style: solid;
        border-color: transparent;
        border-bottom-color: #e6e6e6;
      }
    }

    .window {
      width: 100%;
      height: 442px;
      overflow: hidden;
      position: relative;

      .scroll-img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}