@import "~font-awesome/css/font-awesome.css";
@import "./theme/freelancer/colors";

#site {
  #contact {
    background: $color-background-section;
    margin-bottom: 200px;
  }

  .btn-success {
    color: $color-button-success;
    background-color: $color-button-success-background;
    border-color: $color-button-success-border;
    font-weight: 700;

    &:hover, &:focus, &:active, &.active {
      color: $color-button-success-hover-focus-active;
      background-color: $color-button-success-hover-focus-active-background;
      border-color: $color-button-success-hover-focus-active-border;
      background-image: none;
      box-shadow: 0 0 3px 3px $color-button-success-hover-focus-active-box-shadow;
    }

    .badge {
      color: $color-button-success-badge;
      background-color: $color-button-success-badge-color;
    }

    &.disabled, &[disabled] {
      background-color: $color-button-success-disabled-background;
      border-color: $color-button-success-disabled-border;

      &:hover, &:focus, &:active, .active {
        background-color: $color-button-success-disabled-hover-focus-active-background;
        border-color: $color-button-success-disabled-hover-focus-active-border;
      }
    }
  }

  .help-block {
    display: inline-block;
    font-size: 0.85em;
    line-height: 1.764705882em;
    top: 0;
    color: $color-help-block;
  }

  form {

    .row {

      &:first-child {

        .floating-label-form-group {
          border-top: 1px solid #eeeeee;
        }
      }
    }
  }

  .floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eeeeee;

    input {
      z-index: 1;
      position: relative;
      padding-right: 0;
      padding-left: 0;
      border: none;
      border-radius: 0;
      font-size: 1.5em;
      background: none;
      box-shadow: none !important;
      resize: none;
    }

    textarea {
      z-index: 1;
      position: relative;
      padding-right: 0;
      padding-left: 0;
      border: none;
      border-radius: 0;
      font-size: 1.5em;
      background: none;
      box-shadow: none !important;
      resize: none;
    }

    label {
      display: block;
      z-index: 0;
      position: relative;
      top: 2em;
      margin: 0;
      font-size: 0.85em;
      line-height: 1.764705882em;
      vertical-align: baseline;
      opacity: 0;
      transition: top 0.3s ease, opacity 0.3s ease;
    }

    &:not(:first-child) {
      padding-left: 14px;
      border-left: 1px solid #eeeeee;
    }
  }

  .floating-label-form-group-with-value {

    label {
      top: 0;
      opacity: 1;
    }
  }
}