@import "~font-awesome/css/font-awesome.css";
@import "./theme/freelancer/colors";

#site {
  .sectionFooter {
    color: $color-footer;
    position: relative;
    text-align: center;
    z-index: -1;

    h3 {
      margin-bottom: 30px;
    }

    .footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      margin-top: 200px;
      padding-top: 50px;
      background-color: $color-footer-background;
    }

    .footer-col {
      margin-bottom: 50px;
    }
  }
}