@import "~font-awesome/css/font-awesome.css";
@import "./theme/freelancer/colors";

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  min-width: 290px;
}

p {
  font-size: 20px;

  &.small {
    font-size: 16px;
  }
}

a {
  color: $color-link;
  outline: none;

  &:hover, &:focus, &:active, &.active {
    color: $color-link-hover-focus-active;
    outline: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

hr {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;

  &:after {
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 2em;
    padding: 0 0.25em;
  }

  &.star-light {
    border-color: $color-header-line-border;

    &:after {
      display: none;
    }
  }

  &.star-primary {
    border-color: $color-section-line-border;

    &:after {
      display: none;
    }
  }
}

.img-centered {
  margin: 0 auto;
}

.btn {

  &:focus, &:active, &.active {
    outline: none;
  }
}

.show {
  display: block;
}
