@import "~font-awesome/css/font-awesome.css";
@import "./theme/freelancer/colors";

#site {

  #header {
    text-align: center;
    background: url(../img/header.png) no-repeat top center;
    background-size: cover;
    color: $color-header;
    height: auto;
    width: 100%;

    .container {
      padding-top: 100px;
      padding-bottom: 50px;
    }

    img {
      display: block;
      margin: 0 auto;
      clip-path: circle(100px at 55% 50%);

      &.gray {
        clip-path: circle(90px at center);
      }
    }

    .animated {
      margin: 0 auto;
    }

    .intro-text {

      .name {
        display: block;
        margin: 0;
        line-height: 1.42857;
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2em;
      }

      .skills {
        font-size: 1.25rem;
        letter-spacing: .15em;
        font-weight: 300;
        border-right: .15em solid #FFFFFF;
        animation: blink-caret .5s step-end infinite;
      }
    }

    @media (min-width: 768px) {

      .container {
        padding-top: 200px;
        padding-bottom: 100px;
      }

      .intro-text {

        .name {
          font-size: 2.75em;
        }

        .skills {
          font-size: 1.75em;
        }
      }
    }
  }
}