@import "~font-awesome/css/font-awesome.css";
@import "./theme/freelancer/colors";

$thick: 3px;
$pad: 12px;
$extra: calc(#{$pad} * 1.2);

#site {

  #languageSelect {
    position: absolute;
    list-style: none;
    right: 92px;
    top: 25px;
    transform: translateY(-50%);
    color: $color-language;

    .lang {
      background-image: url(../img/languages.png);
      width: 16px;
      height: 10px;
      cursor: pointer;
      zoom: 1.5;
      filter: grayscale(100%);

      &:hover {
        filter: none;
      }

      &.pl {
        background-position: -32px -121px;
      }

      &.en {
        background-position: -176px -44px;
      }
    }

    @media (min-width: 768px) {
      right: inherit;
      top: 50%;
      left: 10px;
    }

    @media (min-width: 810px) {
      left: inherit;
      right: 10px;
    }
  }

  .navbar-default {
    background-color: #2C3E50;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border: none;

    a {
      position: relative;
      display: inline-block;
      padding: 12px;
      border: $thick solid transparent;

      &:after {
        position: absolute;
        content: '';
        bottom: -$thick;
        left: $extra;
        right: $extra;
        height: $thick;
        background: $color-menu-link-hover;
        z-index: -1;
        transition: transform 0.8s cubic-bezier(1, 0, .37, 1) 0.2s,
        right 0.2s cubic-bezier(.04, .48, 0, 1) 0.6s,
        left 0.4s cubic-bezier(.04, .48, 0, 1) 0.6s;
        transform-origin: left;
      }

      .line {
        position: absolute;
        background: $color-menu-link-hover;

        &.-right,
        &.-left {
          width: $thick;
          bottom: -$thick;
          top: -$thick;
          transform: scale3d(1, 0, 1);
          display: none;
        }

        &.-top,
        &.-bottom {
          height: $thick;
          left: -$thick;
          right: -$thick;
          transform: scale3d(0, 1, 1);
          display: none;
        }

        &.-right {
          right: -$thick;
          transition: transform 0.1s cubic-bezier(1, 0, .65, 1.01) 0.23s;
          transform-origin: top;
        }

        &.-top {
          top: -$thick;
          transition: transform 0.08s linear 0.43s;
          transform-origin: left;
        }

        &.-left {
          left: -$thick;
          transition: transform 0.08s linear 0.51s;
          transform-origin: bottom;
        }

        &.-bottom {
          bottom: -$thick;
          transition: transform 0.3s cubic-bezier(1, 0, .65, 1.01);
          transform-origin: right;
        }
      }

      &:focus {
        outline: none;
      }

      &:hover {
        margin-top: 0;

        .text {
          transform: translate3d(0, 0, 0);
          transition: transform 0.6s cubic-bezier(.2, 0, 0, 1) 0.4s;
        }

        &:after {
          transform: scale3d(0, 1, 1);
          right: -$thick;
          left: -$thick;
          transform-origin: right;
          transition: transform 0.2s cubic-bezier(1, 0, .65, 1.01) 0.17s,
          right 0.2s cubic-bezier(1, 0, .65, 1.01),
          left 0s 0.3s;
        }

        .line {
          transform: scale3d(1, 1, 1);

          &.-right {
            transition: transform 0.1s cubic-bezier(1, 0, .65, 1.01) 0.2s;
            transform-origin: bottom;
          }

          &.-top {
            transition: transform 0.08s linear 0.4s;
            transform-origin: right;
          }

          &.-left {
            transition: transform 0.08s linear 0.48s;
            transform-origin: top;
          }

          &.-bottom {
            transition: transform 0.5s cubic-bezier(0, .53, .29, 1) 0.56s;
            transform-origin: left;
          }
        }
      }
    }

    .navbar-brand {

      &, &:hover, &:focus, &:active {
        color: $color-brand-hover-focus-active;
      }
    }

    .navbar-nav {
      letter-spacing: 1px;

      & > li {
        margin-left: 5px;
        margin-right: 5px;

        & > a {
          color: $color-menu-link;
          width: 100%;
          text-align: center;

          &:after {
            background: transparent;
          }

          &:hover {
            color: $color-menu-link-hover;
            outline: none;
          }

          &:focus, &:active {
            color: $color-menu-link-focus-active;
          }
        }

        &.active {

          & > a {
            margin-top: 0;

            &, &:hover, &:focus, &:active {
              color: $color-menu-link-active-hover-focus-active;
              background: $color-menu-link-active-hover-focus-active-background;
            }
          }
        }
      }
    }

    .navbar-toggle {
      color: $color-menu-toggle;
      text-transform: uppercase;
      font-size: 10px;
      border-color: $color-menu-toggle-border;

      &:hover, &:focus {
        background-color: $color-menu-toggle-hover-focus-background;
        color: $color-menu-toggle-hover-focus;
        border-color: $color-menu-toggle-hover-focus-border;
      }
    }

    @media (min-width: 768px) {
      padding: 25px 0;
      transition: padding 0.3s;

      &.affix {
        padding: 10px 0;

        .navbar-brand {
          font-size: 1.5em;
        }
      }

      .navbar-brand {
        font-size: 2em;
        transition: all 0.3s;
      }

      .navbar-nav {

        & > li {

          a {

            &:after {
              background: #18BC9C;
            }
          }
        }
      }

      a {

        .line {

          &.-right,
          &.-left,
          &.-top,
          &.-bottom {
            display: block;
          }
        }
      }
    }
  }

  .collapse {
    overflow: hidden;

    &.show {
      display: block;
    }
  }

  .menu-toggle {
    display: inline-block;
    width: 9px;
    margin-left: 10px;

    i {
      border: 1px solid $color-menu-toggle-button;
      height: 1px;
      display: block;

      &:nth-child(n) {
        transition: transform .45s cubic-bezier(.43, .77, .15, 1.5);
      }

      &:nth-child(2) {
        margin: 1px 0;
      }
    }
  }

  .navbar-toggle {

    &:hover {

      &:not(.opened) {

        i {

          &:first-child {
            transform: translateY(-2px);
          }

          &:last-child {
            transform: translateY(2px);
          }
        }
      }
    }
  }

  .opened {

    i {

      &:nth-child(1) {
        transform: translateY(3px) rotate(45deg) scale(1.5);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY(-3px) rotate(-45deg) scale(1.5);
      }
    }
  }
}