@import "~font-awesome/css/font-awesome.css";
@import "./theme/freelancer/colors";

.ReactModalPortal {

  & > div {
    z-index: 9999;
  }

  .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 100%;
    padding: 0;
    text-align: center;

    h2 {
      margin: 0;
      font-size: 3rem;
      text-align: center;
    }

    img {
      margin-bottom: 30px;
    }

    .item-details {
      margin: 30px 0;
    }
  }

  $close-modal-height: 30px;
  $close-modal-width: $close-modal-height;
  .close-modal {
    position: absolute;
    width: $close-modal-width;
    height: $close-modal-height;
    background-color: transparent;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 9;

    &:hover {
      opacity: 0.3;
      zoom: 1.1;
    }
  }

  .lr, .rl {
    height: $close-modal-height;
    width: 1px;
    background-color: $color-modal-close-modal-background;
    z-index: 1051;
  }

  .lr {
    margin-left: $close-modal-width / 2;
    transform: rotate(45deg);
  }

  .rl {
    transform: rotate(90deg);
  }

  .modal-backdrop {
    opacity: 0;
    display: none;
  }

  .website {
    margin-top: 10px;
    color: $color-modal-visit-website-color;
    background: $color-menu-link-hover;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;

    span {
      margin-right: 5px;
    }
  }

  a {
    display: inline-block;

    &:hover {
      text-decoration: none;
    }
  }

  .modal-body {
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    padding-left: 10px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      display: inline-block;
      border: 1px solid #333333;
      border-radius: 25px;
      width: 5px;
      height: 5px;
    }

    &:hover {
      font-weight: bold;

      &:before {
        zoom: 1.2;
        background-color: #333333;
      }
    }
  }

  .header {
    text-decoration: underline;
  }
}