@import "~font-awesome/css/font-awesome.css";
@import "./theme/freelancer/colors";

#portfolio {
  position: relative;

  $border-radius: 15px;

  background: $color-background-section;

  a {
    display: block;
  }

  .portfolio-item {
    margin: 0 auto 15px;
    max-width: 292px;

    $selector: '&:nth-child(';
    $selectorEnd: ')';

    @for $i from 1 through 10 {

      #{$selector}#{$i}#{$selectorEnd} {

        .portfolio-link {
          animation-delay: $i * 500ms;
        }
      }
    }
  }

  @media (min-width: 767px) {

    .portfolio-item {
      margin: 0 0 30px;
    }
  }

  .inner {
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    outline: 1px solid transparent;
    perspective: inherit;
    font-size: 20px;
    text-align: center;
    z-index: 2;
    color: #F7F7F7;

    h4 {
      margin: 0;
    }
  }

  .front, .back {
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    backface-visibility: hidden;
    text-align: center;
    color: $color-background-section;
    font-size: 1.5rem;
  }

  .front {
    position: relative;
    width: 100%;
    height: 100%;
    background: no-repeat 50% 50%;
    background-color: $color-background-section;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    z-index: 1;
    max-width: 260px;
    max-height: 198px;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: '';
      display: block;
      opacity: .6;
      //background-color: #0000FF;
      backface-visibility: hidden;
      border-radius: 10px;
    }
  }

  .back {
    border-radius: $border-radius;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background: #cedce7;
    background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);

    span {
      display: inline-block;
      padding: 0 10px 3px 10px;
      background: $color-portfolio-tags-background;
      color: $color-portfolio-tags;
      border-radius: 25px;
      margin: 0 5px;
    }
  }

  .portfolio-link {
    background: $color-portfolio-item-background;
    border: 1px solid $color-portfolio-item-border;
    border-radius: $border-radius;
    box-shadow: 5px 5px 3px $color-portfolio-item-shadow;
    display: block;
    position: relative;
    max-width: 400px;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
    transform-style: preserve-3d;
    perspective: 1000px;

    .back {
      transform: rotateY(180deg);
      transform-style: preserve-3d;
    }

    &:hover {

      .front, .back {
        transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      }

      .back {
        z-index: 2;
        transform: rotateY(0deg);
        transform-style: preserve-3d;
      }

      .front {
        transform: rotateY(-180deg);
        transform-style: preserve-3d;
      }
    }
  }
}