#portfolioSite {
  background: #18BC9C;
  word-wrap: break-word;
  color: #FFFFFF;

  .left {
    padding: 10px 15px 10px 10px;
  }

  h2 {
    margin: 0;
    text-align: center;
  }

  .type {
    margin-top: -5px;
    text-align: center;
  }

  .description {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;

    .content {
      max-height: 90px;
      overflow: hidden;
      position: relative;

      &:after {
        background: linear-gradient(180deg, transparent, #18BC9C 55px) no-repeat bottom center / 100% 100%;

        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
        transition: 0.5s ease-out;
      }

      &:hover {
        max-height: inherit;

        &:after {
          background-size: 100% 0;
        }
      }
    }
  }

  .url {
    margin-top: 30px;

    a {
      display: inline-block;
      margin: 0 auto;
    }
  }

  .header {
    font-size: 20px;
    margin: 0 0 3px 0;
    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 50%;
      border-bottom: 3px solid #2C3E50;
    }
  }

  ul {
    list-style-type: circle;
    margin: 0;
    padding: 0 0 0 20px;

    li {
      padding: 2px 0;
    }
  }

  $close-modal-height: 30px;
  $close-modal-width: $close-modal-height;
  .close-modal {
    position: absolute;
    width: $close-modal-width;
    height: $close-modal-height;
    background-color: transparent;
    top: 10px;
    right: 15px;
    cursor: pointer;
    z-index: 9;

    &:hover {
      opacity: 0.3;
      zoom: 1.1;
    }
  }

  .lr, .rl {
    height: $close-modal-height;
    width: 1px;
    background-color: #2C3E50;
    z-index: 1051;
  }

  .lr {
    margin-left: $close-modal-width / 2;
    transform: rotate(45deg);
  }

  .rl {
    transform: rotate(90deg);
  }
}