@import "~font-awesome/css/font-awesome.css";
@import "./theme/freelancer/colors";

#site {
  .scroll-top {
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
    z-index: 1049;

    .btn {
      font-size: 20px;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      line-height: 28px;

      &:focus {
        outline: none;
      }
    }

    .btn-primary {
      color: $color-button-primary;
      background-color: $color-button-primary-background;
      border-color: $color-button-primary-border;
      font-weight: 700;

      &:hover, &:focus, &:active {
        color: $color-button-primary-hover-focus-active;
        background-color: $color-button-primary-hover-focus-active-background;
        border-color: $color-button-primary-hover-focus-active-border;
        background-image: none;
      }

      &.active {
        color: $color-button-primary-hover-focus-active;
        background-color: $color-button-primary-hover-focus-active-background;
        border-color: $color-button-primary-hover-focus-active-border;
        background-image: none;
      }

      .badge {
        color: $color-button-primary-badge;
        background-color: $color-button-primary-badge-background;
      }
    }
  }
}