@import "~font-awesome/css/font-awesome.css";
@import "./theme/freelancer/colors";

#site {
  word-wrap: break-word;

  section {
    padding: 100px 0;

    h2 {
      margin: 0;
      font-size: 3em;

      div {
        min-width: 23px;
        display: inline-block;
      }
    }

    @media (max-width: 767px) {

      padding: 75px 0;

      &.first {
        padding-top: 75px;
      }
    }
  }
}